doctype html
head
  title Bootstrap Example
  
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  script(src='http://code.jquery.com/jquery-1.6.2.min.js').
  script(type='text/javascript').
    $(function(){
      
        $('button.butn').click(function(e){
          e.preventDefault();
          console.log('select_link clicked');
          var data = {};
          data.title = "hahaha";
          
          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:3000/endpoint2',
            success: function(data) {
            console.log('success');
            console.log(JSON.stringify(data));
            }
    });
    });
                      
      
      
    });	

  style.
    /* Modify the background color */
    .navbar-custom {
    background-color: #A90505;
    border-left: 6px solid #1423A4;
    }
    body{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }
    /* Modify brand and text color */
    .serif {
    font-family: "Times New Roman", Times, serif;
    }
    .sidenav {
    height: 290px;
    width: 200px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('https://image.freepik.com/free-photo/watercolor-splash-background_23-2148175602.jpg');
    overflow-x: hidden;
    padding-top: 20px;
    }
    #WTH {
    position: relative;
    z-index: 1;
    top: -537px;
    height:250px;
    background-image: url('https://image.freepik.com/free-photo/watercolor-splash-background_23-2148175602.jpg');
    }
    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #070707 ;
    display: block;
    }
    .sidenav h12 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FCFBFB;
    border-left: 6px solid #1423A4;
    display: block;
    background-color: #A90505;
    }
    .sidenav2 {
    height: 290px;
    width: 200px;
    position: relative;
    z-index: 1;
    top: -287px;
    left: 500px;
    background-image: url('https://image.freepik.com/free-photo/watercolor-splash-background_23-2148175602.jpg');
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 0px;
    }
    .sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #070707 ;
    display: block;
    }
    .sidenav2 h12 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FCFBFB;
    border-left: 6px solid #1423A4;
    display: block;
    background-color: #A90505;
    }
    .sidenav3 {
    height:290px;
    width: 200px;
    position: relative;
    z-index: 1;
    top: -577px;
    left: 1065px;
    background-image: url('https://image.freepik.com/free-photo/watercolor-splash-background_23-2148175602.jpg');
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 0px;
    }
    .sidenav3 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #070707 ;
    display: block;
    }
    .sidenav3 h12 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FCFBFB;
    border-left: 6px solid #1423A4;
    display: block;
    background-color: #A90505;
    }
    .fixed-footer{
    width: 100%;
    background: #333;
    padding: 10px 0;
    color: #fff;
    bottom: 0;
    }
    
    .Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width:800px;
    }

nav.navbar.navbar-inverse.navbar.navbar-custom
  .container-fluid
    .navbar-header
      a.navbar-brand(style='color: #FEFEFE ; font-family: Times, serif; font-weight: bold; font-size: 25px' href='/') Abbasi Recommendations
    ul.nav.navbar-nav
      li
        a(style='color: #FEFEFE ; font-family: Times, serif; font-weight: bold; font-size: 25px' href='/') Home
      li
        a(style='color: #FEFEFE ; font-family: Times, serif; font-weight: bold; font-size: 25px' href='/movies') Movies
      li
        a(style='color: #FEFEFE ; font-family: Times, serif; font-weight: bold; font-size: 25px' href='/tvshows') TV Shows
      li.active
        a(style='color: #FEFEFE ; font-family: Times, serif; font-weight: bold; font-size: 25px' href='/mylist') My List
      li
        .dropdown
          button#menu1.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' style='color: #fcf9f9 ; background-color: black; font-family: Times, serif; font-weight: bold; font-size: 25px')=Account
            
            span.caret
          ul.dropdown-menu(role='menu' aria-labelledby='menu1')
            li(role='presentation')
              a(role='menuitem' tabindex='-1' href='/profile') Profile
            li(role='presentation')
              a(role='menuitem' tabindex='-1' href='/logout') Logout
    form.navbar-form.navbar-right(action='/action_page.php')
      .form-group
        input.form-control(type='text' placeholder='Search' name='search')
      button.btn.btn-success(type='submit') Submit
.sidenav
  h12 Trending TV Shows
  a(href='#about') Money Heist
  a(href='#services') Ozark
  a(href='#clients') Resurrection Ertugrul
.sidenav2
  h12 Trending Movies
  a(href='#about') The Platform
  a(href='#services') Love Wedding Repeat
  a(href='#clients') The Gentlemen
.sidenav3
  h12 New Tv Shows
  a(href='#about') Tiger King
  a(href='#services') Outer Banks
  a(href='#clients') Man Like Mobeen

.stu 
        -var i=0;
        div
          p(style="background-image: url('https://image.freepik.com/free-photo/watercolor-splash-background_23-2148175602.jpg'); text-align:center;font-family: serif; font-size:50px; position: relative; z-index: 1; top: -387px; left: 0px;") Your List Is Empty
          button.btn.btn-success(type='submit'  style="position: relative; z-index: 1; top: -397px; left: 47%;" class="butn" ) Add Shows 


               

               

        


div
  h5
div
  h5
div
  h5
div
  h5
button#demo.btn.btn-success(type='button') Who Am I?. Click To Know About Me
script.
  document.getElementById("demo").addEventListener("click", myFunction);
  function myFunction() {
  document.getElementById("demo").innerHTML = "I am CS student of Comsats and i am in 5th semester. I want to make difference by making good websites. Right now i am developing my few trail websites with html css bootstrap node javascript. I hope that i will get some work on fiverr";
  document.getElementById("demo").setAttribute("class","");
  document.getElementById("demo").setAttribute("style","width:100%;border:1px solid gray; padding:8px; font-weight:bold; background-image:url(https://wallpaperaccess.com/full/2641047.gif)");
  }
div
  h5
div
  h5
div
  h5
div
  h5
// Footer
.fixed-footer
  .container(style='text-align: center;') Copyright &copy; 2016 Web Designer Haris Abbasi
// Footer
